* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-color: #17B486;
}

button {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius:999px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

button:hover {
    cursor: pointer;
    background: black;
    color: white;
}

#screenText {
    font-family: 'Micro 5';
    font-size: 4em;
    margin: 24px;
}

#calculator {
    width: 265px;
    height: 425px;
    backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(10px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.62);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

#screen {
    width: 100%;
    border-radius: 16px;
}

#controls {
    display: flex;
    flex-direction: row;
}

#buttons, #operators {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}


.digit {
    width: 50px; 
    height: 50px;
}

.buttonContainer {
    padding-left: 12px;
    padding-top: 16px
}
